{% extends 'main/base.html' %}

{% block title %}
Data
{% endblock %}

{% block content %}
{% load static %} 
{% endblock %}
{% block map %}
<h1 style="padding-left: 25%;">Past COVID Case Data for Putnam County, NY</h1>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<div id="container" style="width: 85%; padding-left: 15%;">
  <canvas id="population-chartD" data-url="{% url 'population-chartD' %}"></canvas>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  $(function () {
    var $populationChart = $("#population-chartD");
    $.ajax({
      url: $populationChart.data("url"),
      success: function (data) {
        var ctx = $populationChart[0].getContext("2d");
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Cases',
              backgroundColor: 'dark grey',
              borderColor: "black",
              data: data.data
            }]          
          },
          options: {
            responsive: true,
            legend: {
              position: 'top',
            },
            title: {
              display: false,
              text: 'Past Covid Cases',
            }, 
            scales: {
            yAxes: [{
                ticks: {
                    fontColor: "Black",
                }
            }],
            xAxes: [{
                ticks: {
                    fontColor: "Black",
                }
            }]
            }
          }
        });
      }
    });
  });
</script>
{% endblock %}